<div class="card">
	<div class="card-body">
       <p class="text-center"><strong>Payment is done!!!<strong><p>

       <div class="btn-group d-flex justify-content-between">
     	 <%= link_to 'Explore More', travellers_path, class: 'btn btn-danger nav-link' %>
       </div>
    </div>
</div>






